<h1 *ngIf="showh1">Parent component</h1>

<input type="text" [(ngModel)]="currentPrice" /><br />
<input type="text" [(ngModel)]="sampledata" /> {{ sampledata }}

<app-child
  [newPrice]="currentPrice"
  (toparent)="GetChildData($event)"
></app-child>
<!-- <app-child
  [fromParent]="sampledata"
  (toparent)="GetChildData($event)"
></app-child> -->
<h1>********************************</h1>
<form #user="ngForm" (ngSubmit)="onSend(user)">
  <label for="username">Username</label>
  <input ngModel type="text" name="username" #username="ngModel" required />
  <div *ngIf="username.invalid && (username.dirty || username.touched)">
    <p *ngIf="username.errors.required">username is required</p>
  </div>
  <br />
  <label for="place">Place</label>
  <input ngModel type="text" name="place" #place="ngModel" /><br />
  <button type="submit" [disabled]="user.invalid">Submit</button>
</form>

<h1>**********Using Fc and FG**********************</h1>
<form [formGroup]="jobForm" (ngSubmit)="save()">
  <label for="username">Username:</label>
  <input type="text" name="username" formControlName="username" />
  <br />
  <label for="contact">Contact</label>
  <input type="text" name="contact" formControlName="contact" /><br />
  <button type="submit">Submit</button>
</form>

<h1>**********Using Form Builder**********************</h1>
<form [formGroup]="jobForma" (ngSubmit)="save()">
  <label for="username">Username:</label>
  <input type="text" name="username" formControlName="username" />
  <br />
  <label for="contact">Contact</label>
  <input type="text" name="contact" formControlName="contact" /><br />
  <button type="submit">Submit</button>
</form>
